<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <header>
        <h1>LPWSD</h1>
        <h:form>  
            <p:menubar>
                <p:menuitem value="Início" icon="ui-icon-home" url="/faces/index.xhtml" />

                <p:submenu label="Gerenciar" icon="ui-icon-gear">
                    <p:menuitem value="Assuntos" icon="ui-icon-person" url="/faces/assuntos.xhtml" 
                                rendered="#{usuario.tipo == "A" || usuario.tipo == "B"}"/>
                    <p:menuitem value="Autores" icon="ui-icon-person" url="/faces/autores.xhtml" 
                                rendered="#{usuario.tipo == "A" || usuario.tipo == "B"}"/>
                    <p:menuitem value="Editoras" icon="ui-icon-person" url="/faces/editora.xhtml" 
                                rendered="#{usuario.tipo == "A" || usuario.tipo == "B"}"/>
                    <p:menuitem value="Emprestimos" icon="ui-icon-person" url="/faces/emprestimo.xhtml"/>
                    <p:menuitem value="Exemplares" icon="ui-icon-person" url="/faces/exemplar.xhtml" 
                                rendered="#{usuario.tipo == "A" || usuario.tipo == "B"}"/>
                    <p:menuitem value="Livros" icon="ui-icon-person" url="/faces/livro.xhtml" 
                                rendered="#{usuario.tipo == "A" || usuario.tipo == "B"}"/>
                    <p:menuitem value="Usuarios" icon="ui-icon-person" url="/faces/usuario.xhtml" 
                                rendered="#{usuario.tipo == "A"}"/>
                </p:submenu>
                <p:commandButton value="LogOut" action="#{loginBean.logout()}"/>
            </p:menubar>
        </h:form>
    </header>
</ui:composition>