<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <h2 class="page-header">Gerenciar Assuntos</h2>
        <br/>
        <h:form id="formPrincipal">
            <div align="center">
                <h2>Gráfico de Assuntos</h2>
                <p:commandButton validateClient="true" value="Mostrar"  
                actionListener="#{assuntoChart.criaModeloBarras}"
                oncomplete="graficoAssuntos.show();" />
                
                <p:dialog header="Relatório" widgetVar="graficoAssuntos"
                    resizable="true" width="600" showEffect="explode" hideEffect="explode" dynamic="true"> 
                    <h:form>
                        <h:panelGrid columns="3" cellpadding="4">
                            <p:barChart value="#{assuntoChart.model}" style="height:300px; width:800px;" legendPosition="ne"
                                        orientation="horizontal" />
                        </h:panelGrid>
                    </h:form>
                </p:dialog>
            </div>
        </h:form>
    </ui:define>
</ui:composition>