<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <h2 class="page-header">Gerenciar Livros</h2>
        <br/>
        <h:form id="formLivros">
            <div align="center">
                
                <p:dataTable var="lista" value="#{livroBean.livros}"
                             id="tabelaLivros" emptyMessage="Nenhum registro encontrado"
                             paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="10" rowsPerPageTemplate="5,10,25,50,100,9999" style="width:100%">

                    <p:column headerText="Código" sortBy="#{lista.idtbLivro}" filterBy="#{lista.idtbLivro}">
                        <h:outputText value="#{lista.idtbLivro}" />
                    </p:column>
                    
                    <p:column headerText="Título" sortBy="#{lista.titulo}" filterBy="#{lista.titulo}">
                        <h:outputText value="#{lista.titulo}" />
                    </p:column>

                    <p:column headerText="ISBN" sortBy="#{lista.isbn}" filterBy="#{lista.isbn}">
                        <h:outputText value="#{lista.isbn}" />
                    </p:column>
                    
                    <p:column headerText="Edição" sortBy="#{lista.edicao}" filterBy="#{lista.edicao}">
                        <h:outputText value="#{lista.edicao}" />
                    </p:column>
                    
                    <p:column headerText="Ano" sortBy="#{lista.ano}" filterBy="#{lista.ano}">
                        <h:outputText value="#{lista.ano}">
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </p:column>
                    
                    <p:column headerText="Assunto" sortBy="#{lista.tbAssuntoidtbAssunto.nomeAssunto}" filterBy="#{lista.tbAssuntoidtbAssunto.nomeAssunto}">
                        <h:outputText value="#{lista.tbAssuntoidtbAssunto.nomeAssunto}" />
                    </p:column>
                    
                    <p:column headerText="Editora" sortBy="#{lista.tbEditoraidtbEditora.nomeEditora}" filterBy="#{lista.tbEditoraidtbEditora.nomeEditora}">
                        <h:outputText value="#{lista.tbEditoraidtbEditora.nomeEditora}" />
                    </p:column>
                    
                    <p:column headerText="Opções" exportable="false">
                        <center>
                            
                            <p:commandButton icon="ui-icon-pencil" value="Editar" onclick="PF('record').show();"> 
                                <f:setPropertyActionListener target="#{livroBean.livro}" value="#{lista}" />
                            </p:commandButton>
                            
                            <p:commandButton icon="ui-icon-trash" value="Deletar" onclick="PF('remove').show();"> 
                                <f:setPropertyActionListener target="#{livroBean.livro}" value="#{lista}" />
                            </p:commandButton> 
                        
                        </center>
                    </p:column>

                </p:dataTable>
            </div>
            <br/>
            
            <p:column>
                <p:commandButton icon="ui-icon-plus" value="Novo" onclick="PF('record').show();">  
                </p:commandButton> 
            </p:column>
            
            <p:confirmDialog global="true">  
                <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />  
                <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />  
            </p:confirmDialog>  


            <p:dialog header="Novo" widgetVar="record" modal="true" focus="titulo">
                <p:panelGrid id="panelRecord" columns="2"> 
                    <!--Código:
                    <p:inputText id="cod" value="#{livroBean.livro.idtbLivro}" /-->
                    Título:
                    <p:inputText id="titulo" value="#{livroBean.livro.titulo}" />
                    ISBN:
                    <p:inputText id="isbn" value="#{livroBean.livro.isbn}" />
                    Edição:
                    <p:inputText id="edicao" value="#{livroBean.livro.edicao}" />
                    Ano:
                    <p:calendar id="ano" value="#{livroBean.livro.ano}" />
                    Assunto:
                    <p:selectOneMenu id="ass" value="#{livroBean.livro.tbAssuntoidtbAssunto}" style="width: 100%;" converter="assuntoConverter">
                        <f:selectItem itemLabel="Selecione" itemValue="" />
                        <f:selectItems value="#{assuntoBean.assuntos}" var="ass" itemLabel="#{ass.nomeAssunto}" itemValue="#{ass}" />
                    </p:selectOneMenu>
                    Editora:
                    <p:selectOneMenu id="edit" value="#{livroBean.livro.tbEditoraidtbEditora}" style="width: 100%;" converter="editoraConverter">
                        <f:selectItem itemLabel="Selecione" itemValue="" />
                        <f:selectItems value="#{editoraBean.editoras}" var="edit" itemLabel="#{edit.nomeEditora}" itemValue="#{edit}" />
                    </p:selectOneMenu>
                </p:panelGrid>  
                <br/>
                <p:commandButton value="Salvar" actionListener="#{livroBean.Record}" onclick="record.hide()" alt="Record"/> 
            </p:dialog>
            
            <p:dialog header="Deletar" widgetVar="remove" modal="false"> 
                Você tem certeza?
                <p:commandButton value="Deletar" actionListener="#{livroBean.Exclude}" onclick="remove.hide()" alt="Delete" /> 
            </p:dialog>
            
        </h:form>
    </ui:define>
</ui:composition>