<ui:composition template="/WEB-INF/templates/layout-login.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <h:form id="formLogin">
            <p:panel style="text-align: center; width: 800px; margin: auto; margin-top: 80px;">
                <p:graphicImage value="/resources/images/logo.png"/>
                <f:facet name="header">Biblioteca LPWSD</f:facet>
                <h:panelGrid columns="1" width="100%">
                    <p style="margin: 0; font-weight: bold;">Login</p>
                    <span class="ui-float-label">
                        <p:inputText id="txtLogin" value="#{loginBean.usuario.nomeUsuario}" />
                    </span>
                    <p style="margin: 0; font-weight: bold;">Senha</p>
                    <p:password id="txtSenha" value="#{loginBean.usuario.senha}" label="Senha" required="true" />
                </h:panelGrid>
                <p:commandButton value="Login" action="#{loginBean.login()}" ajax="false"/>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>