<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <h2 class="page-header">Gerenciar Usuários</h2>
        <br/>
        <h:form id="formUsuarios">
            <div align="center">
                
                <p:dataTable var="lista" value="#{usuarioBean.usuarios}"
                             id="tabelaUsuarios" emptyMessage="Nenhum registro encontrado"
                             paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="10" rowsPerPageTemplate="5,10,25,50,100,9999" style="width:100%">

                    <p:column headerText="ID" sortBy="#{lista.idtbUsuario}" filterBy="#{lista.idtbUsuario}">
                        <h:outputText value="#{lista.idtbUsuario}" />
                    </p:column>
                    
                    <p:column headerText="Nome" sortBy="#{lista.nomeUsuario}" filterBy="#{lista.nomeUsuario}">
                        <h:outputText value="#{lista.nomeUsuario}" />
                    </p:column>

                    <p:column headerText="Email" sortBy="#{lista.email}" filterBy="#{lista.email}">
                        <h:outputText value="#{lista.email}" />
                    </p:column>
                    
                    <p:column headerText="Senha" sortBy="#{lista.senha}" filterBy="#{lista.senha}">
                        <h:outputText value="#{lista.senha}" />
                    </p:column>
                    
                    <p:column headerText="Tipo" sortBy="#{lista.tipo}" filterBy="#{lista.tipo}">
                        <h:outputText value="#{lista.tipo}" />
                    </p:column>
                                        
                    <p:column headerText="Opções" exportable="false">
                        <center>
                            
                            <p:commandButton icon="ui-icon-pencil" value="Editar" onclick="PF('record').show();"> 
                                <f:setPropertyActionListener target="#{usuarioBean.usuario}" value="#{lista}" />
                            </p:commandButton>
                            
                            <p:commandButton icon="ui-icon-trash" value="Deletar" onclick="PF('remove').show();"> 
                                <f:setPropertyActionListener target="#{usuarioBean.usuario}" value="#{lista}" />
                            </p:commandButton> 
                        
                        </center>
                    </p:column>

                </p:dataTable>
            </div>
            <br/>
            
            <p:column>
                <p:commandButton icon="ui-icon-plus" value="Novo" onclick="PF('record').show();">  
                </p:commandButton> 
            </p:column>
            
            <p:confirmDialog global="true">  
                <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />  
                <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />  
            </p:confirmDialog>  


            <p:dialog header="Novo" widgetVar="record" modal="true" focus="titulo">
                <p:panelGrid id="panelRecord" columns="2"> 
                    <!--Código:
                    <p:inputText id="cod" value="#{usuarioBean.usuario.idtbUsuario}" /-->
                    Nome:
                    <p:inputText id="titulo" value="#{usuarioBean.usuario.nomeUsuario}" />
                    Email:
                    <p:inputText id="email" value="#{usuarioBean.usuario.email}" />
                    Senha:
                    <p:inputText id="senha" value="#{usuarioBean.usuario.senha}" />
                    Tipo:
                    <p:selectOneMenu id="tipo" value="#{usuarioBean.usuario.tipo}">
                        <f:selectItem itemLabel="Admistrador" itemValue="A"></f:selectItem>
                        <f:selectItem itemLabel="Bibliotecário" itemValue="B"></f:selectItem>
                        <f:selectItem itemLabel="Aluno" itemValue="L"></f:selectItem>
                        <f:selectItem itemLabel="Funcionário" itemValue="F"></f:selectItem>
                        <f:selectItem itemLabel="Professor" itemValue="P"></f:selectItem>
                    </p:selectOneMenu>
                </p:panelGrid>  
                <br/>
                <p:commandButton value="Salvar" actionListener="#{usuarioBean.Record}" onclick="record.hide()" alt="Record"/> 
            </p:dialog>
            
            <p:dialog header="Deletar" widgetVar="remove" modal="false"> 
                Você tem certeza?
                <p:commandButton value="Deletar" actionListener="#{usuarioBean.Exclude}" onclick="remove.hide()" alt="Delete" /> 
            </p:dialog>
            
        </h:form>
    </ui:define>
</ui:composition>